@model ControlWork9.ViewModels.TransferViewModel

<div class="container mt-4">
    <div class="card bg-secondary">
        <div class="card-header">
            <h4>Перевод средств</h4>
        </div>
        <div class="card-body">
            <div id="transfer-message"></div>
            <form id="transferForm">
                <div class="form-group">
                    <label for="toAccount">Номер счета получателя</label>
                    <input type="number" id="toAccount" name="ToAccount" class="form-control" value="@Model?.ToAccount" required/>
                    <span asp-validation-for="ToAccount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="amount">Сумма перевода</label>
                    <input type="number" id="amount" name="Amount" class="form-control" value="@Model?.Amount" required/>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <input type="hidden" id="insufficientFundsError" value="@ViewData["InsufficientFundsError"]" />
                <button type="submit" class="btn btn-primary mt-3">Перевести</button>
            </form>
        </div>
    </div>
</div>
